<div class="text-center">
    <h1 class="title"> Blogs that have been posted. <(^ . ^)> </h1>
    <!-- Loop over each Blog -->
    {{#each blogs as |blog| }}
    <div>
        <h2>
            <span for="img" aria-label="laptop">💻</span>
            <a href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    </div>
    {{/each}}
</div>